<div class="wrapper">
<section class="b-portfolio">
    <p class="b-portfolio__heading">Portfolio</p>
    <img class="b-portfolio__photo" src="/images/portfolio-1.png" title="Foto woman" alt="Фото девушки" />
    <p class="b-portfolio__text">Online fashion store - Homepage</p>
    <img class="b-portfolio__photo" src="/images/portfolio-2.png" title="Foto man" alt="Фото мужчины" />
    <p class="b-portfolio__text">Reebok Store - Concept</p>
    <img class="b-portfolio__photo" src="/images/portfolio-3.png" title="Camera on the photo" alt="Фото камеры" />
    <p class="b-portfolio__text">Braun Landing Page - Concept</p>
  </section>
</div>