<div class="wrapper">
<section class="b-skills">
	<p class="b-skills__heading">Skills</p>
	<p class="b-skills__text">I work in such programs as</p>
	
		<div class="b-skills__flex">
			<section class="b-skills__flex-ps">
				<div class="b-skills__flex-ps-img">Ps</div>
				<div class="b-skills__flex-text">Adobe <br> Phoroshop <br></div>
				<div class="b-skills__flex-stars">&#9733;  &#9733; &#9733; &#9733; <span style="color: rgba(229, 229, 229, 1);			">&#9733</span></div>
			</section>

			<section class="b-skills__flex-ai">
				<div class="b-skills__flex-ai-img">Ai</div>
				<div class="b-skills__flex-text">Adobe <br> Illustrator</div>
				<div class="b-skills__flex-stars">&#9733;  &#9733; &#9733;<span style="color: rgba(229, 229, 229, 1);">&#9733; &#9733</span></div>
			</section>
		
			<section class="b-skills__flex-aae">
				<div class="b-skills__flex-aae-img">Ae</div>
				<div class="b-skills__flex-text">Adobe <br> After Effects</div>
				<div class="b-skills__flex-stars">&#9733;  &#9733; &#9733; &#9733; <span style="color: rgba(229, 229, 229, 1);">&#9733</span></div>
			</section>

			<section class="b-skills__flex-f">
				<div class="b-skills__flex-f-img">								
						<div class="b-skills__flex-f-img-red"></div>
						<div  class="b-skills__flex-f-img-orange"></div>
						<div  class="b-skills__flex-f-img-purple"></div>
						<div  class="b-skills__flex-f-img-blue"></div>
						<div  class="b-skills__flex-f-img-green"></div>					
				</div>
				<div class="b-skills__flex-f-text">Figma</div>
				<div class="b-skills__flex-stars">&#9733;  &#9733; &#9733; &#9733; <span style="color: rgba(229, 229, 229, 1);">&#9733</span></div>
			</section>
		</div>
</section>
</div>