<div class="wrapper">
	<div data-v-c970699f="" data-v-7a7a37b1="" class="b-header">
		<div data-v-c970699f="" class="b-header__menu">
			<a data-v-c970699f="" class="b-header__menu-item" href="link.link">Home</a>
			<a data-v-c970699f="" class="b-header__menu-item" href="link.link">About me</a>
			<a data-v-c970699f="" class="b-header__menu-item" href="link.link">Skills</a>
			<a data-v-c970699f="" class="b-header__menu-item" href="link.link">Portfolio</a>
			<a data-v-c970699f="" class="b-header__menu-item" href="link.link">Contacts</a>
		</div>
		<div data-v-c970699f="" class="b-header__line">
			<hr data-v-c970699f="" classs="b-header__hr-line">
		</div>
	</div>
</div>