// @import '../assets/styles.scss';
.b-contacts {
  @include padding;
  padding-top: 81px;
  height: 550px;
}
.b-contacts__heading {
  @include align-fontw;
  font-size: 34px;
  margin-top: 20px;
}
.b-contacts__text {
  @include align-fontw;
  color: #282833;
  margin-top: 45px;
  line-height: 21.83px;	
  font-size: 18px;
  line-height: 21.83px;
}
.b-contacts__button {
  width: 180.5px;
  height: 32px;
  margin-top: 29.6px;
  padding-top: 10px;
  background:  #282833;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.b-contacts__menu {
  @include marg-max-width;
  width: $width;
  @include fle;
  justify-content: space-between;
  margin-top: 86.64px;
  height: 40px;
}

.b-contacts__footer {
	margin-top: 45.06px;
	color: $col;
	@include align-fontw;
	font-size: 14px;
  }

  .b-contacts__button {
	&:hover {
	color: red
}
}

