<div class="wrapper">
<section class="b-contacts">
    <p class="b-contacts__heading">Contacts</p>
    <p class="b-contacts__text">Want to know more or just chat? <br>ou are welcome!</p>
    <p class="b-contacts__button">Send message</p>
    <div class="b-contacts__menu">
      <img class="b-contacts__menu-in" src="/images/in.png" title="In" alt="In" />
      <img class="b-contacts__menu-insta" src="/images/insta.png" title="Insta" alt="Insta" />
      <img class="b-contacts__menu-be" src="/images/behance.png" title="Be" alt="Be" />
      <img class="b-contacts__menu-b" src="/images/b.png" title="B" alt="B" />
    </div>
    <p class="b-contacts__footer">Like me on<br>LinkedIn, Instagram, Behance, Dribble</p>
  </section>
</div>